.article-card-container {
  max-width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.content-container {
  display: grid;
  place-items: center;
}

.button-container {
  display: block;
}

.show-button {
  margin-bottom: 50px;
  display: block;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.show-button:hover {
  background: #68bcf0;
  background-image: -webkit-linear-gradient(top, #68bcf0, #276791);
  background-image: -moz-linear-gradient(top, #68bcf0, #276791);
  background-image: -ms-linear-gradient(top, #68bcf0, #276791);
  background-image: -o-linear-gradient(top, #68bcf0, #276791);
  background-image: linear-gradient(to bottom, #68bcf0, #276791);
  text-decoration: none;
  cursor: pointer;
}
