.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: 10% 10% auto;
  text-align: center;
  padding: 30px;
}

.hero-content {
  padding-left: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 90vw;
}

.hero-title {
  display: flex;
  width: 100rem;
  flex-direction: column;
  font-weight: bold;
}
.hero-title h1 {
  align-self: start;
}

.hero-img {
  object-fit: cover;
  min-width: 100%;
  height: 20rem;
}

.hero-caption {
  max-width: 50rem;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
