.box {
  height: 264px;
  position: relative;
  width: 781px;
  top: 20px;
  /* left: 200px; */
}

.box .group {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #0d63f3;
  border-radius: 15px;
  box-shadow: 0px 5px 14px #080f340a;
  height: 200px;
  /* position: fixed; */
  width: 595px;
}

.box .div {
  height: 115px;
  left: 40px;
  position: absolute;
  top: 29px;
  width: 720px;
}

.box .img {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
}

.box .group-2 {
  height: 84px;
  left: 128px;
  position: absolute;
  top: 18px;
  width: 2px;
}

.box .group-3 {
  height: 84px;
  /* left: 0; */
  /* position: absolute; */
  /* top: 0; */
  width: 265px;
}

.box .text-wrapper {
  color: #1e2b4f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: -25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 210px;
}

.box .p {
  color: #1e2b4f;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: -25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -15px;
  width: 259px;
}

.box .text-wrapper-2 {
  color: #7f8896;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: -25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 236px;
}

.box .group-4 {
  height: 25px;
  left: 223px;
  position: absolute;
  top: -15px;
  width: 16px;
}

.box .star {
  height: 18px;
  left: 106px;
  position: absolute;
  top: 3px;
  width: 19px;
}

.box .star-2 {
  height: 18px;
  left: 80px;
  position: absolute;
  top: 3px;
  width: 19px;
}

.box .star-3 {
  height: 18px;
  left: 55px;
  position: absolute;
  top: 3px;
  width: 19px;
}

.box .star-4 {
  height: 18px;
  left: 29px;
  position: absolute;
  top: 3px;
  width: 19px;
}

.box .star-5 {
  height: 18px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 19px;
}

.box .text-wrapper-3 {
  color: #1e2b4f;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 132px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 73px;
}

.box .group-5 {
  height: 54px;
  left: 40px;
  position: absolute;
  top: 130px;
  width: 214px;
}

.box .text-wrapper-4 {
  color: #1e2b4f;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 210px;
}

.box .text-wrapper-5 {
  color: #1e2b4f;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 199px;
}

.box .overlap-group-wrapper {
  height: 50px;
  left: 380px;
  position: absolute;
  top: 130px;
  width: 180px;
}

.box .overlap-group {
  border-radius: 10px;
  height: 50px;
  position: relative;
  width: 178px;
}

.box .text-wrapper-6 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 160px;
}