.card {
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  height: 20rem;
}
.picture-container {
  width: 16.875rem;
  height: 11rem;
}
.card-thumbnail {
  width: 100%;
  transition: 250ms ease;
}
.text-container {
  transition: 250ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.card:hover {
  cursor: pointer;
  .card-thumbnail {
    filter: brightness(85%);
  }
  .text-container {
    filter: brightness(85%);
  }
}
