.mini-img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5%;
  transition: 250ms ease;
}
.card-container {
  display: flex;
  flex-direction: row;
  max-width: 300px;
}
.card-container:hover {
  cursor: pointer;
  .mini-img {
    filter: brightness(85%);
  }
}
.caption-container {
  width: 100%;
}
.img-container {
  width: 200px;
  margin-right: 10px;
}
#title-rec,
#caption {
  margin: 0;
  text-align: left;
}
#title-rec {
  font-weight: bold;
}
#caption {
}
