@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

body,
html {
  font-family: 'Poppins', sans-serif;
}
